name: Tests

on:
    push:
    pull_request:

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-node@v4
              with:
                  node-version: 20
            - name: Install dependencies
              run: npm install
            - name: Run linting
              run: npm run lint
            - name: Check formatting
              run: npm run format:check
            - name: Run unit tests
              run: npm run test:coverage
            - name: Build project
              run: npm run build
